
@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}





<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Chester Bernard</title>
    <link rel="stylesheet" type="text/css" href="~/lib/twitter-bootstrap/css/bootstrap.min.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <style>


        h1 {
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            color: deeppink;
        }

        p, p {
            font-family: Georgia;
        }
    </style>
</head>
<body>


    <main>
        <div class="mySlides w3-display-container w3-center">
            <img src="~/images/16.jpg" style="width:100%">
        </div>
        <div class="carousel-caption" style="text-align:left;">
            <p>OWN THE DAY</p>
            <h1 class=display-4>TACHEN 19</h1>
            <p>SHOP COLLECTION</p>
            <button type="button" class="btn btn-dark">SHOP COLLECTION</button>
        </div>
        <h3 class="display-4" style="text-align:center; padding: 25px;"><b>About Us</b></h3>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h5 style="color: gray; text-align: center;">Early use</h5>
                    <p>Ralf Kittler, Manfred Kayser and Mark Stoneking, anthropologists at the Max Planck Institute for Evolutionary Anthropology, conducted a genetic analysis of human body lice that suggests clothing originated around 170,000 years ago. Body lice are an indicator of clothes-wearing, since most humans have sparse body hair, and lice thus require human clothing to survive. Their research suggests that the invention of clothing may have coincided with the northward migration of modern Homo sapiens away from the warm climate of Africa, thought to have begun between 50,000 and 100,000 years ago. A second group of researchers using similar genetic methods estimate that clothing originated between 114,000 and 30,000 years ago</p>
                </div>


                <div class="col-md-6">
                    <h5 style="color: gray; text-align: center;">Making clothing</h5>
                    <p>We earned a reputation of being good at what we do. Let us take your online shop to new dimension in  success an exceptional online experience to customers. Their website is filled with playful copy, colorful and large images, Before you can even see the collection of products,  you’re required to go through a quiz asking questions about which compression level you prefer for your apparel, high rise or mid rise preference, length of leggings, color preferences, and more.modern Homo sapiens away from the warm climate of Africa, thought to have begun between 50,000 and 100,000 years ago. A second group of researchers using similar genetic methods estimate that clothing originated between 114,000 and 30,000 years ago</p>
                </div>




            </div>
        </div>

    </main>








    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.min.js"></script>
</body>
</html>