@{

    Layout = "~/Views/Shared/_layout.cshtml";

}


<div class="w3-content" style="max-width:2000px;margin-top:0px">



    <div class="mySlides w3-display-container w3-center">
        <img src="~/images/15.jpg" style="width:100%">
    </div>
    <div class="carousel-caption" style="text-align:right;">
        <p>NEW TREND</p>
        <h1 class=display-4><b>Fashion</b></h1>
        <p>An exclusive selection of this season's trends</p>
        <button type="button" class="btn btn-dark">Discover</button>
        <button type="button" class="btn btn-dark">Shop Now</button>

    </div>
</div>

<div style="padding: 50px;">
    <h5 style="text-align:center"> Women's Fashion</h5>
    <p style="text-align: center; padding: 0;"> Shop Our new arrivals from established brands</p>
</div>



<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <img src="~/images/8.jpg" width="250">
            <h6 style="color: gray">IGUERA</h6>
            <p>Green Muscle Fit Polo Shirt</p>
            <p style="color:darkred; text-align: center; padding: 0px;">$20.00</p>
        </div>
        <div class="col-sm-3">
            <img src="~/images/9.jpg" width="250">
            <h6 style="color: gray">IGUERA</h6>
            <p>Green Muscle Fit Polo Shirt</p>
            <p style="color:darkred; text-align: center; padding: 0px;">$25.00</p>
        </div>
        <div class="col-sm-3">
            <img src="~/images/1.jpg" width="250">
            <h6 style="color: gray">IGUERA</h6>
            <p>Green Muscle Fit Polo Shirt</p>
            <p style="color:darkred;text-align: center; padding: 0px;">$23.00</p>
        </div>
        <div class="col-sm-3">
            <img src="~/images/7.jpg" width="250" height="375">
            <h6 style="color: gray">IGUERA</h6>
            <p>Green Muscle Fit Polo Shirt</p>
            <p style="color: darkred; text-align: center; padding: 0px;">$22.00</p>
        </div>
    </div>
</div>

<div style="padding: 50px;">
    <h5 style="text-align:center"> Men's Fashion</h5>
    <p style="text-align: center; padding: 0;"> Shop Our new arrivals from established brands</p>
</div>



<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <img src="~/images/2.jpg" width="250" height="375">
            <h6 style="color: gray">IGUERA</h6>
            <p>Green Muscle Fit Polo Shirt</p>
            <p style="color: darkred; text-align: center; padding: 0px;">$26.00</p>
        </div>
        <div class="col-sm-3">
            <img src="~/images/3.jpg" width="250">
            <h6 style="color: gray">IGUERA</h6>
            <p>Green Muscle Fit Polo Shirt</p>
            <p style="color: darkred; text-align: center; padding: 0px;">$27.00</p>
        </div>
        <div class="col-sm-3">
            <img src="~/images/4.jpg" width="250" height="375">
            <h6 style="color: gray">IGUERA</h6>
            <p>Green Muscle Fit Polo Shirt</p>
            <p style="color: darkred; text-align: center; padding: 0px;">$28.00</p>
        </div>
        <div class="col-sm-3">
            <img src="~/images/12.png" width="250" height="375">
            <h6 style="color: gray">IGUERA</h6>
            <p>Green Muscle Fit Polo Shirt</p>
            <p style="color: darkred; text-align: center; padding: 0px;">$29.00</p>
        </div>
    </div>
</div>








