<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="~/lib/twitter-bootstrap/css/bootstrap.min.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <style>
        * {
            margin: 0;
            padding: 0;
        }

        li {
            display: inline;
            text-transform: uppercase;
        }

        * {
            margin: 0;
            padding: 0;
        }

        header {
            height: 50px;
            background-color: black;
            color: antiquewhite;
            text-align: center;
            padding: 10px;
            font-family: Georgia;
        }

        nav {
            font-family: Georgia;
            background-color: lightgrey;
            color: black;
            text-align: center;
            height: 50px;
            padding: 15px;
            position: -webkit-sticky;
            position: sticky;
            top: 0;
        }

        h1 {
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            color: deeppink;
        }

        p, p {
            font-family: Georgia;
        }

        footer {
            background: #16222A;
            background: -webkit-linear-gradient(59deg, #3A6073, #16222A);
            background: linear-gradient(59deg, #3A6073, #16222A);
            color: white;
            margin-top: 100px;
        }

            footer a {
                color: #fff;
                font-size: 14px;
                transition-duration: 0.2s;
            }

                footer a:hover {
                    color: #FA944B;
                    text-decoration: none;
                }

        .copy {
            font-size: 12px;
            padding: 10px;
            border-top: 1px solid #FFFFFF;
        }

        .footer-middle {
            padding-top: 2em;
            color: white;
        }




        ul.social-network {
            list-style: none;
            display: inline;
            margin-left: 0 !important;
            padding: 0;
        }

            ul.social-network li {
                display: inline;
                margin: 0 5px;
            }




        .social-network a.icoFacebook:hover {
            background-color: #3B5998;
        }

        .social-network a.icoLinkedin:hover {
            background-color: #007bb7;
        }

            .social-network a.icoFacebook:hover i,
            .social-network a.icoLinkedin:hover i {
                color: #fff;
            }

        .social-network a.socialIcon:hover,
        .socialHoverClass {
            color: #44BCDD;
        }

        .social-circle li a {
            display: inline-block;
            position: relative;
            margin: 0 auto 0 auto;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
            border-radius: 50%;
            text-align: center;
            width: 30px;
            height: 30px;
            font-size: 15px;
        }

        .social-circle li i {
            margin: 0;
            line-height: 30px;
            text-align: center;
        }

        .social-circle li a:hover i,
        .triggeredHover {
            -moz-transform: rotate(360deg);
            -webkit-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
            transform: rotate(360deg);
            -webkit-transition: all 0.2s;
            -moz-transition: all 0.2s;
            -o-transition: all 0.2s;
            -ms-transition: all 0.2s;
            transition: all 0.2s;
        }

        .social-circle i {
            color: #595959;
            -webkit-transition: all 0.8s;
            -moz-transition: all 0.8s;
            -o-transition: all 0.8s;
            -ms-transition: all 0.8s;
            transition: all 0.8s;
        }

        .social-network a {
            background-color: #F9F9F9;

        }

    </style>




</head>
<body>

    <header>
        <h4>Chester Bernard</h4>
    </header>

    <nav>

        <ul>
            <li><a href="#">Home |</a></li>
            <li> <a href="home/about">About |</a></li>
            <li><a href="home/contact">Contact</a></li>
            <p style="text-align:right; padding: 0px 0px;">searchHEARTshopping-cart</p>

        </ul>
    </nav>
    <div>
        @RenderBody()
    </div>

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h3 style="text-align:center">Chester Bernard is the Best Men’s Clothing brand in Pakistan</h3>
            <Marquee bgcolor="lightgrey" loop="-1" scrollamount="2" width="100%">Pakistan No.1 Clothing Brand</Marquee>
        </div>
    </div>
    <footer class="mainfooter" role="contentinfo">
        <div class="footer-middle">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6">

                        <div class="footer-pad">
                            <h4>ADDRESS</h4>
                            <ul class="list-unstyled">
                                <li><a href="#"></a></li>
                                <li><a href="#">B-62, Sector 31-F, Darus Salam Co-Operative society, DCHS Korangi Karachi</a></li>
                                <li><a href="#">Phone: 021-35127429</a></li>
                                <li><a href="#">WhatsApp: +92 345 8906000</a></li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">

                        <div class="footer-pad">
                            <h4>CUSTOMER SERVICE</h4>
                            <ul class="list-unstyled">
                                <li><a href="#">Shipping Policy</a></li>
                                <li><a href="#">Returns & Exchanges Policy</a></li>
                                <li><a href="#">Get Your Answers With FAQs</a></li>
                                <li><a href="#">Customer Reviews</a></li>
                                <li><a href="#">Sizes Charts</a></li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">

                        <div class="footer-pad">
                            <h4>SUPPORT</h4>
                            <ul class="list-unstyled">
                                <li><a href="#">Contact Us</a></li>
                                <li><a href="#">Get Help</a></li>
                                <li><a href="#">Check Order Status</a></li>
                                <li><a href="#">Outlets</a></li>
                                <li>
                                    <a href="#"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <h4>Follow Us</h4>
                        <ul class="social-network social-circle">
                            <li><a href="www.facebook.com" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="www.linkedin.com" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>

                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 copy">
                        <p class="text-center">&copy; Copyright 2000 - Chester Bernard.  All rights reserved.</p>
                    </div>
                </div>


            </div>
        </div>
    </footer>


    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
